$color-red:#ff0000;
$large-size:40px;

// 先声明基础颜色
$primary:#409eff;
$sucess:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;

$hun:100%;

$colors : (
    primary:$primary,
    sucess:$sucess,
    warning:$warning,
    danger:$danger,
    info:$info
); 
// --primary:#{$var}
// --#{$var}:#{$co};

// $i=1
:root {

    @each $var,
    $co in $colors {
        --#{$var}:#{$co};
        @for $i from 1 through 4{
            --#{$var}-light-#{$i*2-1}: #{mix($co,#fff,calc($hun - $hun * $i * 2 / 10))}
        }
        
    }
}