@font-face {
  font-family: "iconfont"; /* Project id 4432642 */
  src: url('//at.alicdn.com/t/c/font_4432642_s0a8r5kcow.woff2?t=1707082453059') format('woff2'),
       url('//at.alicdn.com/t/c/font_4432642_s0a8r5kcow.woff?t=1707082453059') format('woff'),
       url('//at.alicdn.com/t/c/font_4432642_s0a8r5kcow.ttf?t=1707082453059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e709";
}

.row {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px auto;
  margin-bottom: 30px;
  text-align: center;
}

.row-title {
  font-weight: 200;
  text-align: center;
  user-select: none;
}
